<span class="arrow-up"></span>
<span class="arrow-down"></span>
<div class="row">
    <div class="column six right">
        <h2 class="vibe">Bride’s story</h2>
        <div class="story">
            <p>Vestibulum cras ullamcorper a ullamcorper scelerisque iaculis per hac proin duis vestibulum ullamcorper tempor ultricies. Eu non sociosqu magna adipiscing ad consectetur a parturient sem a euismod tempus phasellus ornare a dapibus sit ullamcorper justo praesent sem tempor imperdiet vestibulum a condimentum in magna.</p>
            <p>
            Condimentum sit parturient varius at facilisi tempus dignissim sodales a faucibus curae suspendisse suspendisse a odio a. Elit sodales vestibulum nec varius scelerisque commodo parturient.</p>
        </div>
        <div class="social">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="column six left">
        <h2 class="vibe">Groom’s story</h2>
        <div class="story">
            <p>Vestibulum cras ullamcorper a ullamcorper scelerisque iaculis per hac proin duis vestibulum ullamcorper tempor ultricies. Eu non sociosqu magna adipiscing ad consectetur a parturient sem a euismod tempus phasellus ornare a dapibus sit ullamcorper justo praesent sem tempor imperdiet vestibulum a condimentum in magna.</p>
            <p>Condimentum sit parturient varius at facilisi tempus dignissim sodales a faucibus curae suspendisse suspendisse a odio a. Elit sodales vestibulum nec varius scelerisque commodo parturient.</p>
        </div>
        <div class="social">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve">
        <div class="box corner quote">
            <div class="corners-topleft"></div>
            <div class="corners-bottomleft"></div>
            <div class="corners-topright"></div>
            <div class="corners-bottomright"></div>
“We’ve met one summer night in the club. The music was to loud so we really didn’t speak that much. One great thing led to another and the rest is history”
        </div>
    </div>
</div>
