<div class="container">
    <div class="row">
        <ul id="gallery-filter">
            <li class="active"><a href="#" data-filter="*">All</a>
            </li>
            <li><a href="#" data-filter=".wedding">India Night 2009</a>
            </li>
            <li><a href="#" data-filter=".paris">Italy/Spain 2010</a>
            </li>
            <li><a href="#" data-filter=".photography">Bolivia/Peru 2012</a>
            </li>
        </ul>
    </div>
</div>

<div id="gallery-wrapper">
    <div class="block wedding">
        <div class="image-holder">
            <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple1.jpg" alt="image">
        </div>
        <a href="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple1.jpg" class="video-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">
                    Coming soon...
                    <!-- <span class="cat">Wedding</span> -->
                </h3>
            </div>
        </a>
    </div>
    <div class="block photography">
        <div class="image-holder">
            <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple2.jpg" alt="image">
        </div>
        <a href="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple2.jpg" class="portfolio-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">
                    Coming soon...
                    <!-- <span class="cat">Wedding</span> -->
                </h3>
            </div>
        </a>
    </div>
    <div class="block photography">
        <div class="image-holder">
            <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple3.jpg" alt="image">
        </div>
        <a href="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple3.jpg" class="portfolio-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">Coming soon...</h3>
            </div>
        </a>
    </div>
    <div class="block photography">
        <div class="image-holder">
            <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple4.jpg" alt="image">
        </div>
        <a href="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple4.jpg" class="portfolio-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">Coming soon...</h3>
            </div>
        </a>
    </div>
    <div class="block wedding">
        <div class="image-holder">
            <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple5.jpg" alt="image">
        </div>
        <a href="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple5.jpg" class="video-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">
                    Coming soon...
                    <!-- <span class="cat">Design</span> -->
                </h3>
            </div>
        </a>
    </div>
    <div class="block paris">
        <div class="image-holder">
            <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple6.jpg" alt="image">
        </div>
        <a href="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple6.jpg" class="portfolio-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">
                    Coming soon...
                    <!-- <span class="cat">Design</span> -->
                </h3>
            </div>
        </a>
    </div>
    <div class="block paris">
        <div class="image-holder">
            <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple7.jpg" alt="image">
        </div>
        <a href="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple7.jpg" class="portfolio-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">Coming soon...</h3>
            </div>
        </a>
    </div>
    <div class="block photography">
        <div class="image-holder">
            <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple8.jpg" alt="image">
        </div>
        <a href="https://d13a0hp1k8a4rs.cloudfront.net/album/WeddCouple8.jpg" class="portfolio-hover">
            <div class="portfolio-info">
                <h3 class="portfolio-title">Coming soon...</h3>
            </div>
        </a>
    </div>
</div>
