<div class="loaderOverlay"><i class="fa fa-heart animate-spin"></i></div>
<!-- Hero Section -->
<div id="logo">Namrata <span>&amp;</span> Neel</div>
<section id="top" class="hero" data-type="parallax">
    <div class="hero-slideshow">
        <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/slideshow/kenya_hug_2.jpg" />
        <!-- <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/slideshow/zebra_pose_1.jpg" /> -->
        <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/slideshow/slideshow-1.jpg" />
        <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/slideshow/bierstadt_top.jpg" />
        <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/slideshow/hiking_lake.jpg" />
        <img src="https://d13a0hp1k8a4rs.cloudfront.net/album/slideshow/maroon_bells.jpg" />
    </div>
    <div class="overlay-dark"></div>
    <div class="container">
        <div class="hero-inner">
            <h1>We’re getting married.</h1>
            <div class="info">
              <div id="countdown"> 462 <span>days</span> 18 <span>hours</span> 46 <span>mins</span> 34 <span>secs</span></div>
              <span class="date">July 22nd 2017, Estes Park, CO</span>
            </div>
            <a href="#couple" class="mouse scrollTo"><i class="fa fa-long-arrow-down"></i></a>
        </div>
    </div>
</section>
<!-- #Hero Section Ends -->

<section id="home-content">

    <header id="main-menu">
        <div class="container">
            <div class="row">
                <div id="menu-logo" >N <span>&amp;</span> N</div>
                <nav id="navigation" class="column twelve">
                  <ul>
                    <!-- <li class="submenu"><a href="#logo">Home</a>
			                <ul>
                        <li><a href="single-post.html">Single Post Page</a></li>
                        <li><a href="event.html">Event Page</a></li>
                        <li><a href="page.html">Elements Page</a></li>
                        <li><a href="baby.html">Baby Diary</a></li>
                        <li><a href="index-animated.html">Home Page - Animated</a></li>
                        <li><a href="index-slideshow.html">Header - Slideshow</a></li>
                        <li><a href="index-video.html">Header - Video</a></li>
                        <li><a href="index-dotted.html">Menu - Dotted</a></li>
                        <li><a href="index-menuHidden.html">Menu - Hidden</a></li>
                        <li><a href="index-mvisible.html">Menu - Bottom</a></li>
                      </ul>
                    </li> -->
                    <li><a href="#wedding-events">Events</a></li>
                    <li><a href="#story">Info</a></li>
                    <li><a href="#loveline">Loveline</a></li>
                    <li><a href="#wedding-gallery">Gallery</a></li>
                    <!-- <li><a href="#important-people">People</a></li>
                    <li><a href="#gift-registry">Gifts</a></li>
                    <li><a href="#guestbook">GuestBook</a></li>
                    <li><a href="#contact">RSVP</a></li> -->
                  </ul>
                </nav>
                <a href="#" id="menu-toggle-wrapper">
                    <div id="menu-toggle"></div>
                </a>
            </div>
            <!-- close .ha-header-perspective -->
        </div>
        <!-- close grid container -->
    </header>

    <!-- RSVP Now -->
    <!-- <section id="invitation" class="pattern">
        <span>You’re invited to our Wedding!</span>
        <a id="to-rsvp" href="#contact" class="button scrollTo">RSVP NOW</a>
    </section> -->
    <!-- #RSVP Now -->

    <!-- Couple Images -->
    <section id="couple">
        <div class="overlay-dark"></div>
        <div class="hero-heart"></div>
        <div class="images">
            <div class="column six girl">
                <span class="fname">Namrata</span>
                <span class="lname">Donthamsetti</span>
            </div>
            <div class="column six boy">
                <span class="fname">Neel</span>
                <span class="lname">Bhat</span>
            </div>
        </div>
    </section>
    <!-- #Couple Images Ends -->

    <!-- Story Section -->
    <!-- <section id="story" class="pattern">
      <div class="container wedding-info-container">
        <div class="row">
          <div class="twelve">
            <div class="title vibe theme-color">When?</div>
            <div class="info">
              <div style="padding-bottom: 20px;">July 22, 2017</div>
              <div title="Add to Calendar" class="addeventatc">
                  Add to Calendar
                  <span class="start">07/22/2017 10:00 AM</span>
                  <span class="end">07/23/2017 10:00 AM</span>
                  <span class="timezone">America/Denver</span>
                  <span class="title">Namrata and Neel's Wedding!</span>
                  <span class="description">https://www.namrataandneel.com</span>
                  <span class="location">Estes Park, CO</span>
                  <span class="date_format">MM/DD/YYYY</span>
                  <span class="client">aJWlkHsxhzHQvTOrnmrV21620</span>
              </div>
            </div>
            <div class="title vibe theme-color">Where?</div>
            <div class="info">
              <div class="heading">CEREMONY</div>
              <div>10am @ The Wedding Pavilion at Black Canyon Inn, Estes Park CO</div>

              <div class="heading" style="padding-top: 20px;">RECEPTION</div>
              <div>5pm @ The Wild Basin Lodge, Allenspark CO</div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="twelve">
                <div class="box corner quote dark">
                  <div class="corners-topleft"></div>
                  <div class="corners-bottomleft"></div>
                  <div class="corners-topright"></div>
                  <div class="corners-bottomright"></div>
                  We would love for you to treat this as a <i>vacation</i>. Leave all of your worries behind and come join us in Estes Park on Wednesday or Thursday before the actual wedding if you can!
                  We'll be hiking, eating, drinking, relaxing, and most importantly, enjoying everyone's company.
                </div>
            </div>
        </div>
      </div>
    </section> -->
    <!-- #Story Section Ends -->

    <!-- Wedding Events Section -->
    <section id="wedding-events" class="pattern">
        <header class="section-header">
            <h3 class="section-title">Wedding Events</h3>
            <p class="section-tagline">
              We're so excited to have our wedding in Estes Park, CO. Namrata and I spent 3 months living in Denver, and Estes Park was one of our favorite places in Colorado.
              Since you'll be coming all the way out here for our wedding, we want you to take the time to explore and enjoy the beauty of Estes Park!
            </p>
        </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
                <div class="column six heart right">
                    <div class="box center corner">
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                        <h2>Wedding Ceremony</h2>
                        <div class="details">
                            <span class="waddress">The Pavilion at Black Canyon Inn</span>
                            <span class="waddress">800 MacGregor Ave, Estes Park, CO 80517</span>
                            <span class="wdate">Saturday, 22 July 2017</span>
                            <span class="wtime">10:00 AM - 1:00 PM</span>
                        </div>
                        <!-- <a href="event.html" class="button">Read More</a> -->
                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box center corner">
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                        <h2>Lunch/time to enjoy Estes Park!</h2>
                        <div class="details">
                            <!-- <span class="waddress">Lunch provided by our parents!</span> -->
                            <span class="waddress">Location TBD (stay tuned)</span>
                            <span class="wdate">Saturday, 22 July 2017</span>
                            <span class="wtime">1:00 PM - 5:00 PM</span>
                        </div>
                        <div>
                          <p>Our parents are hosting a lunch for everyone. It will be very informal and you are free to come and go. We want you to be able to enjoy a little bit of Estes Park while you're out here!
                            Check out the downtown, go on a hike, relax in your cabin; the possibilites are endless!</p>
                        </div>
                        <!-- <a href="event.html" class="button">Read More</a> -->
                    </div>
                </div>
                <div class="column six heart right">
                    <div class="box center corner">
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                        <h2>Wedding Reception</h2>
                        <div class="details">
                            <span class="waddress">Wild Basin Lodge and Event Center</span>
                            <span class="waddress">1130 County Rd 84, Allenspark, CO 80510</span>
                            <span class="wdate">Saturday, 22 July 2017</span>
                            <span class="wtime">5:00 PM - 11:30 PM</span>
                        </div>
                    </div>
                </div>
                <!-- <div class="column six heart left">
                    <div class="box center corner">
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                        <h2>Wedding Party</h2>
                        <div class="details">
                            <span class="waddress">Club Insomnia</span>
                            <span class="waddress">60 Switch Street, New York NY</span>
                            <span class="wdate">Thursday, 16 August 2014</span>
                            <span class="wtime">8:00 PM - 5:00 AM</span>
                        </div>
                        <a href="event.html" class="button">Read More</a>
                    </div>
                </div> -->
                <div class="clearfix"></div>
            </div>

        </div>
    </section>
    <!-- #Wedding Events Section Ends -->

    <!-- Parallax Section -->
    <section class="parallax parallax1" data-type="parallax">
        <!-- <div class="overlay"></div> -->
        <div class="container">
          <!-- <div class="row">
              <div class="twelve">
                  <div class="box corner quote dark">
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                    We would love for you to treat this as a <i>vacation</i>. Leave all of your worries behind and come join us in Estes Park on Wednesday or Thursday before the actual wedding if you can!
                    We'll be hiking, eating, drinking, relaxing, and most importantly, enjoying everyone's company.
                  </div>
              </div>
          </div> -->
          <h2 class="quote">
            <div>We would love for you to treat this as a <i>vacation</i>. Leave all of your worries behind, take a few days off of work and come join us in Estes Park on Wednesday or Thursday before the actual wedding if you can!
              We'll be hiking, eating, drinking, relaxing, and most importantly, enjoying everyone's company.</div>
          </h2>

          <div class="note">*This is an actual picture from a hike Namrata and I did in Estes Park. That can be you laying over there on that rock*</div>
        </div>
    </section>
    <!-- #Parallax Section Ends -->

    <section id="story">
        <header class="section-header">
            <div class="icon-container">
              <i class="fa fa-info-circle"></i>
            </div>
            <h3 class="section-title">INFORMATION</h3>
            <p class="section-tagline">Everything you need to know, and possibly more.</p>
        </header>
        <div class="container">
          <div>
            <h3>Lodging</h3>
            <p>July and August are busy season up in Estes Park so we <i style="font-weight: bold;">highly</i> suggest booking your lodging as soon as possible.</p>
            <div class="info-sub-heading">Cabins/Home Rentals</div>
            <p>In our opinion, this is the best way to enjoy being up in the mountains. Estes Park is full of cabins and home rentals that range from cozy 1 bedroom cabins to more luxurious multi-bedroom cabins. When split amongst multiple people, these can be some of the most cost effective (and fun!) options!</p>
            <p>We recommend you stay in the Estes Park area since we'll be providing transporation from Estes Park to our reception site and back.</p>
            <p>Check out <a href="https://www.airbnb.com/c/nbhat7" target="_blank">Airbnb</a> or <a href="https://www.vrbo.com/vacation-rentals/usa/colorado/front-range/estes-park/@40.44840933858381,-105.44986361635739,40.32602596153714,-105.58307284487302,12z?sleeps=6-plus&from-date=2017-07-21&to-date=2017-07-23" target="_blank">VRBO</a> for some great choices.</p>
            <div class="info-sub-heading">Hotels</div>
            <p>If cabins/homes are not your style, don't worry! There are plenty of hotels in Estes Park as you'll see from this quick search on <a href="https://www.hotels.com/search/searchmap.html?resolved-location=CITY%3A1506358%3AUNKNOWN%3AUNKNOWN&destination-id=1506358&q-destination=Estes%20Park,%20Colorado,%20United%20States%20of%20America&q-check-in=2017-07-20&q-check-out=2017-07-24&q-rooms=1&q-room-0-adults=2&q-room-0-children=0" target="_blank">Hotels.com</a></p>
          </div>

          <div>
            <h3>Transportation</h3>
            <div class="info-sub-heading">To/From Airport</div>
            <p>Estes Park is about 1 1/2 hours from Denver International Airport. Because of that we recommend renting a car. That way you'll also have more flexibility and be able to explore while you're out here.</p>
            <p>If you decide to rent a car, Namrata and I have gotten much cheaper rates renting outside of the airport. An Uber from the airport to any number of the rental car facilities outside the airport can range from $15-$40.</p>
            <p>If you don't want to rent a car, the <a href="https://www.estesparkshuttle.com/DIA-airport-shuttle" target="_blank">Estes Park Shuttle</a> will probably be your best bet.</p>
            <div class="info-sub-heading">To/From the Reception</div>
            <p>We will be providing transportation from Estes Park to our reception at Wild Basin in the afternoon and back at night. As we get closer to our wedding we'll find a few convenient pick up spots for everyone. Stay tuned here!</p>
          </div>
          <br />
          <p>If you need any help or suggestions on where to stay, where to rent a car from, etc, don't hesitate to ask us!</p>

          <h4 style="font-style: italic;">We'll be adding much more information here as we get closer to the date!</h4>
        </div>
    </section>

    <!-- #Map Section -->
    <section id="map-section">
        <div class="container">
            <div id="map-pins">
                <ul>
                    <li class="wedding">Ceremony</li>
                    <li class="weddingParty">Reception</li>
                    <!-- <li class="bachelor">Bachelor</li>
                    <li class="bachelorette">Bachelorette</li>
                    <li class="hotels">Hotels</li>
                    <li class="airport">Airport</li>
                    <li class="attractions">Attractions</li>
                    <li class="restaurants">Restaurants</li>
                    <li class="shopping">Shopping</li>
                    <li class="special">Special</li> -->
                </ul>
            </div>
        </div>
        <div id="map"></div>
    </section>
    <!-- #Map Section Ends -->

    <!-- Loveline Section -->
    <section id="loveline">
        <header class="section-header">
            <h3 class="section-title">OUR LOVELINE</h3>
            <p class="section-tagline">5 cities (where we've lived together). 7 years (since we started dating). 1000's of memories. Our journey together thus far has been unforgettable. Here's how it all started.
              </p>
        </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
                <div class="timeline-year start"><span>2008</span></div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">Sometime in Janurary/February</span>
                        <h2>India Night 2008</h2>
                        <div class="box-content">
                          <p>India Night 2008 is where Namrata and Neel's story began. </p>
                          <p>Namrata and Neel both joined two different groups performing at India Night. Namrata joined the Freshman Dance team, and Neel and his friends started a band called Surround Sound with Neel playing the drums.</p>
                          <p>Fast forward to April and the night of India Night. After Neel's performance, he walked off the stage where Namrata and the Freshman Dance team were waiting on deck to perform next.</p>
                          <p>Namrata remembers saying "Nice job!" to Neel as he walked off the stage. Upon hearing her say that to him, Neel's heart exploded. Unfortuntely that also caused his brain to turn to mush. He managed to blurt out something along the lines of "THANKS, YOU TOO!" and walked off trying to play it cool.</p>
                        </div>
                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box pattern">
                        <span class="date">April 13</span>
                        <h2>Neel makes the first move</h2>
                        <div class="box-content">
                            <p>Wanting to redeem himself, Neel decided to make the first move. Being the computer engineer that he is, he started things off strong through the best form of communication at the time. Facebook messenger.</p>
                            <p>Remember, this is the year 2008. We were such a technologically advanced society by that point that face to face communication was becoming a thing of the past. Or at least that's what Neel likes to tell himself.</p>
                            <p>Here was his very first message to Namrata and the first time he said more than 5 words to her.</p>
                            <img src="https://d13a0hp1k8a4rs.cloudfront.net/love-line/first_fb_message.png" alt="">
                            <p>Here is some analysis in case anyone wants to take notes.</p>
                            <img src="https://d13a0hp1k8a4rs.cloudfront.net/love-line/first_fb_message_analysis.png" alt="">
                        </div>

                    </div>
                </div>
                <div class="column six heart right movetop">
                    <div class="box pattern">
                      <span class="date">April 15 - November</span>
                      <h2>The Long Game</h2>
                      <div class="box-content">
                          <p>With their friendship off to a stupendous start, Neel began to play the only game he knew how. The long game.</p>
                          <p>They both exchanged various messages back and forth on Facebook and once in a while saw each other at parties.</p>
                          <p>After a chance meeting at a friend's party late in September, Neel challenged Namrata to a game of FIFA (the best soccer video game ever made) that some people had been playing.</p>
                          <p>Namrata, the nicest creature on this planet, feigned interest and played along with Neel.</p>
                          <p>Neel, the most naive creature on this planet, wanted to get on one knee and propose right there. Beautiful. A great dancer. AND LIKES FIFA! He had found the one.</p>
                          <p>In Neel's defense, Namrata had told him how much she likes playing video games before he asked her to play FIFA. FIFA just happened to be one of the ones she did <i>not</i> enjoy.</p>
                      </div>
                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box pattern">
                      <span class="date">Sometime around December</span>
                      <h2>Neel gives up</h2>
                      <div class="box-content">
                        <p>Like all love stories in the movies, there's always that time when things just don't go as planned.</p>
                        <p>By December that year, Neel and Namrata had only hung out a few times. Neel had switched strategies from hoping for chance encounters to actually initiating encounters. However, many of them were to no avail. Neel could tell that this just wasn't going as planned.</p>
                        <p>After his last final for that semester was over, Neel texted Namrata asking if she wanted to grab dinner since she also had finished her finals.</p>
                        <p>Namrata, exhausted from taking finals, respectuflly declined and explained why. But to Neel that was the final nail in the coffin.</p>
                        <p>He told himself that it was time to move on.</p>
                      </div>
                    </div>
                </div>
                <div class="column six heart right movetop">
                    <div class="box pattern">
                      <span class="date">December 23</span>
                      <h2>Neel receives a life changing message</h2>
                      <div class="box-content">
                        <p>A week or so into winter break, Neel received the following message.</p>
                        <img src="https://d13a0hp1k8a4rs.cloudfront.net/love-line/dance_message_1.png" alt="">
                        <p>Neel swears the message actually said this:</p>
                        <img src="https://d13a0hp1k8a4rs.cloudfront.net/love-line/dance_message_2.png" alt="">
                        <p>Experts still haven't figured out why, but the prevailing theory is that he was so excited to get a message from Namrata, who he had given up on a couple weeks prior, that certain neurons in his left parietal lobe just flat out misfired.</p>
                        <p>Neel thought long and hard about this. Performing at India Night was no joke - it consitently had a sold out crowd of 800-900 people. Neel was okay playing the drums hidden behind his band in front of an audience of that size, but <i>dancing</i> was a whole different story.</p>
                      </div>
                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box pattern">
                      <span class="date">December 24</span>
                      <h2>The Big Decision</h2>
                      <div class="box-content">
                        <p>After much thought, Neel figured what does he have to lose? Worst case scenario he has a hilarious story to tell. Best case scenario he has an awesome story to tell. So he replied with:</p>
                        <img src="https://d13a0hp1k8a4rs.cloudfront.net/love-line/dance_message_3_new.png" alt="">
                        <p>But, luckily for Future Neel, Namrata brushed off his attempt to get himself out of that situation and replied with:</p>
                        <img src="https://d13a0hp1k8a4rs.cloudfront.net/love-line/dance_message_4.png" alt="">
                        <p>As excited as he was that Namrata wanted him to be his partner for a dance, Neel was an order of magnitude more terrified.</p>
                        <iframe src="//giphy.com/embed/3o7TKQ8kAP0f9X5PoY" width="480" height="330" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hulu-snl-saturday-night-live-nbc-3o7TKQ8kAP0f9X5PoY">via GIPHY</a></p>
                      </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="timeline-year"><span>2009</span></div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">Sometime in Janurary</span>
                        <h2>The first dance practice</h2>
                        <div class="box-content">
                          <p>To make things worse, when Neel showed up at the first dance practice ready to be Namrata's partner, he very quickly realized that the neurons in his left parietal lobe must have misfired when he read her facebook message weeks ago.</p>
                          <p>Partners had not been decided yet. The only thing Neel had going for him, and this was one of those rare instances of this, was his height.</p>
                          <p>Since Namrata is also not a big person, there was only 1 other guy who would realistically be Namrata's partner based on height. Neel knew he wasn't going to impress anyone with his dance moves. So instead, he resorted to charm.</p>
                          <p>He made it a point to help Namrata out with whatever he could and stay after every practice and offer her a ride home. When he wasn't just giving Namrata a ride home, he would purposely drop Namrata off last. He even got called out for this once when someone mentioned the most convenient route would be to drop Namrata off first. Neel made up some very confusing reason why it wasn't and was never questioned again.</p>
                        </div>
                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box pattern">
                        <span class="date">February 14</span>
                        <h2>Happily Ever After</h2>
                        <div class="box-content">
                          <p>With all the time they spent together in that first month, their friendship grew even stronger. Soon they were both in love.</p>
                          <p>They went on a couple of dates before, but to play into the cliché, Valentines Day of 2009 felt like their first real date.</p>
                          <p>Both Neel and Namrata realized a few weeks after Valentines Day that they hadn't really made their relationship official. They both decided to make February 14 the official day. A decision that Neel's wallet still thanks them for.</p>
                          <p>7 years later, as Namrata was finishing her last year of Optometry School, Neel asked Namrata to marry him while on a trip together to Kenya. We'll leave that story for another time.</p>
                          <p>They are both so excited to celebrate the start of this new chapter on July 22, 2017 and even more excited to celebrate it with their close family and friends!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #Loveline Section Ends -->

    <!-- Important People Section -->
    <!-- <section id="important-people">
        <header class="section-header">
            <h3 class="section-title">Important People</h3>
            <p class="section-tagline">Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
        </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
                <div class="column six right">
                    <h2 class="vibe">Bridesmaids</h2>
                    <div class="tabs people-image">
                        <li><a href="#person1" class="active"><img src="https://d13a0hp1k8a4rs.cloudfront.net/important-people/bridesmade1.jpg" alt="" /></a></li>
                        <li><a href="#person2"><img src="https://d13a0hp1k8a4rs.cloudfront.net/important-people/bridesmade2.jpg" alt="" /></a></li>
                        <li><a href="#person3"><img src="https://d13a0hp1k8a4rs.cloudfront.net/important-people/bridesmade3.jpg" alt="" /></a></li>
                    </div>
                    <div class="tab-content-wrap">
                        <div id="person1" class="tab-content">
                            <h2>Amy Lo</h2>
                            <div class="story">
                                <p>Vestibulum cras ullamcorper a ullamcorper scelerisque iaculis per hac proin duis vestibulum ullamcorper tempor ultricies. Eu non sociosqu magna adipiscing ad consectetur a parturient justo praesent sem tempor imperdiet vestibulum a condimentum in magna.</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="person2" class="tab-content">
                            <h2>Angela Smith</h2>
                            <div class="story">
                                <p>Vestibulum cras ullamcorper a  parturient sem a euismod tempus phasellus ornare a dapibus sit ullamcorper justo praesent sem tempor imperdiet vestibulum a condimentum in magna.</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="person3" class="tab-content">
                            <h2>Mary Johnson</h2>
                            <div class="story">
                                <p>Vestibulum cras ullamcorper a ullamcorper scelerisque iaculis per hac proin duis vestibulum ullamcorper tempor ultricies. Eu non sociosqu magna adipiscing ad consectetur a parturient sem .</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="column six left">
                    <h2 class="vibe">Groomsman</h2>
                    <div class="tabs people-image">
                        <li><a href="#person4" class="active"><img src="https://d13a0hp1k8a4rs.cloudfront.net/important-people/groomsman1.jpg" alt="" /></a></li>
                        <li><a href="#person5"><img src="https://d13a0hp1k8a4rs.cloudfront.net/important-people/groomsman2.jpg" alt="" /></a></li>
                        <li><a href="#person6"><img src="https://d13a0hp1k8a4rs.cloudfront.net/important-people/groomsman3.jpg" alt="" /></a></li>
                    </div>
                    <div class="tab-content-wrap">
                        <div id="person4" class="tab-content">
                            <h2>Chandler Knuckless</h2>
                            <div class="story">
                                <p>Vestibulum cras ullamcorper a ullamcorper scelerisque iaculis per hac proin duis vestibulum ullamcorper tempor ultricies. Eu non sociosqu magna adipiscing ad consectetur a parturient justo praesent sem tempor imperdiet vestibulum a condimentum in magna.</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="person5" class="tab-content">
                            <h2>Mark Baywater</h2>
                            <div class="story">
                                <p>Vestibulum cras ullamcorper a  parturient sem a euismod tempus phasellus ornare a dapibus sit ullamcorper justo praesent sem tempor imperdiet vestibulum a condimentum in magna.</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="person6" class="tab-content">
                            <h2>Lee Mcfly</h2>
                            <div class="story">
                                <p>Vestibulum cras ullamcorper a ullamcorper scelerisque iaculis per hac proin duis vestibulum ullamcorper tempor ultricies. Eu non sociosqu magna adipiscing ad consectetur a parturient sem .</p>
                            </div>
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> -->
    <!-- #Important People Section Ends -->

    <!-- Small Gallery Section -->
    <section id="wedding-gallery" class="pattern">
        <header class="section-header">
            <h3 class="section-title">Photo Gallery</h3>
        </header>

        <div style="text-align: center; padding-bottom: 50px;">I'm working on it...</div>
    </section>
    <!-- #Small Gallery Section Ends -->
    <!-- Adding comment -->

    <!-- Our Tweets -->
    <!-- <section id="twitter">
        <header class="section-header">
            <h3 class="section-title">Our Tweets</h3>
            <p class="section-tagline">Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
        </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
                <div class="column six right">
                    <h2 class="vibe">Namrata</h2>
                    <span>@namnam</span>
                    <div id="twitter_one" class="tweets">
                        <a href="#" class="follow">&rarr; Follow Namrata on Twitter</a>
                    </div>
                </div>
                <div class="column six left">
                    <h2 class="vibe">Neel</h2>
                    <span>@sk8nbhat</span>
                    <div id="twitter_two" class="tweets">
                        <a href="#" class="follow">&rarr; Follow Neel on Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- #Our Tweets Ends -->

    <!-- Gift Registry Section -->
    <!-- <section id="gift-registry" class="pattern">
        <header class="section-header">
            <h3 class="section-title">Gift Registry</h3>
            <p class="section-tagline">Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
        </header>
        <div class="container">
            <ul class="small-box corner">
                <li>
                    <a class="product" href="#"><img src="https://d13a0hp1k8a4rs.cloudfront.net/gifts/registry-amazon.png" alt=""></a>
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                </li>
                <li>
                    <a class="product" href="#"><img src="https://d13a0hp1k8a4rs.cloudfront.net/gifts/registry-crate.png" alt=""></a>
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                </li>
                <li>
                    <a class="product" href="#"><img src="https://d13a0hp1k8a4rs.cloudfront.net/gifts/registry-macys.png" alt=""></a>
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                </li>
                <li>
                    <a class="product" href="#"><img src="https://d13a0hp1k8a4rs.cloudfront.net/gifts/registry-tiffany.png" alt=""></a>
                    <div class="corners-topleft"></div>
                    <div class="corners-bottomleft"></div>
                    <div class="corners-topright"></div>
                    <div class="corners-bottomright"></div>
                </li>
            </ul>
            <ul class="small-box corner">
                <li>
                    <div class="money">
                        <span class="amount">$100</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">$200</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">$400</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
                <li>
                    <div class="money">
                        <span class="amount">$1000</span>
                        <a href="#" class="button donate">DONATE</a>
                        <div class="corners-topleft"></div>
                        <div class="corners-bottomleft"></div>
                        <div class="corners-topright"></div>
                        <div class="corners-bottomright"></div>
                    </div>
                </li>
            </ul>
        </div>
    </section> -->
    <!-- #Gift Registry Section Ends -->

    <!-- Guestbook Section -->
    <!-- <section id="guestbook">
        <header class="section-header">
            <h3 class="section-title">Guestbook</h3>
            <p class="section-tagline">Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
        </header>
        <div class="container timeline">
            <span class="arrow-up"></span>
            <span class="arrow-down"></span>
            <div class="row">
                <div class="timeline-year start"><span>2014</span></div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">24 July</span>
                        <div class="guest">
                            <p>Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
                            <span class="name">John Doe</span>
                        </div>
                    </div>
                </div>
                <div class="column six heart left movetop">
                    <div class="box pattern">
                        <span class="date">24 July</span>
                        <div class="guest">
                            <p>Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
                            <span class="name">John Doe</span>
                        </div>
                    </div>
                </div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">24 July</span>
                        <div class="guest">
                            <p>Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.Aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat</p>
                            <span class="name">John Doe</span>
                        </div>
                    </div>
                </div>
                <div class="column six heart left">
                    <div class="box pattern">
                        <span class="date">24 July</span>
                        <div class="guest">
                            <p>Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat</p>
                            <span class="name">John Doe</span>
                        </div>
                    </div>
                </div>
                <div class="column six heart right">
                    <div class="box pattern">
                        <span class="date">24 July</span>
                        <div class="guest">
                            <p>Quisque aliquet erat condimentum sit aptent varius convallis quam a scelerisque nulla accumsan suspendisse scelerisque  aliquet erat aliquet porta erat.</p>
                            <span class="name">John Doe</span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="timeline-button"><a href="#" class="button">Load more</a></div>
            </div>
        </div>
        <div class="form color">
            <header class="section-header">
                <h3>Write Something</h3>
            </header>
            <div class="container smaller">
                <div class="row">
                    <form action="guestbook.php" method="POST" autocomplete="off" class="actionform">
                        <div class="column six">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name">
                        </div>
                        <div class="column six">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email">
                        </div>
                        <div class="column twelve">
                            <label for="comment">Comment</label>
                            <textarea name="comment" cols="30" rows="10"></textarea>
                        </div>
                        <div class="clearfix"></div>
                        <input type="hidden" name="submit">
                        <input type="submit" class="color" value="Send your message &rarr;">
                        <div class="clearfix"></div>
                        <div class="notification"></div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->
    <!-- #Guestbook Section Ends -->

    <!-- Instagram Section -->
    <!-- <section id="instagram-section" class="pattern">
        <header class="section-header">
            <h3 class="section-title">Instagram</h3>
            <p class="section-tagline">Copy the hashtag below and share your experience from our Wedding :)</p>
        </header>
        <span class="hash">#namandneelgethitchedforreal</span>
        <div class="container">
            <div class="instagram-images">
            </div>
        </div>
        <div class="load-more">
            <a href="#" class="button">Load more</a>
        </div>
    </section> -->
    <!-- #Instagram Section Ends -->

    <!-- Contact Section -->
    <!-- <section id="contact" class="bgcolor">
        <header class="section-header">
            <h3 class="section-title">SIGN YOUR RSVP</h3>
            <p class="section-tagline">Please RSVP before 20 December 2015.</p>
        </header>
        <div class="form">
            <div class="container smaller">
                <div class="row">
                    <form action="/contact"  method="POST" autocomplete="off" class="actionform">
                        <div class="notification"></div>
                        <div class="column six">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name">
                        </div>
                        <div class="column six">
                            <label for="email">Email</label>
                            <input type="text" id="email" name="email">
                        </div>
                        <div class="column six">
                            <label for="subject">Number of guests</label>
                            <select name="subject" id="subject">
                                <option value="One" disabled selected="selected"> How many persons?</option>
                                <option value="One">One</option>
                                <option value="Two">Two</option>
                                <option value="Three">Three</option>
                                <option value="Four">Four</option>
                                <option value="Five">Five</option>
                                <option value="Six">Six</option>
                            </select>
                        </div>
                        <div class="column six auto-safe">
                            <label for="autovalue">Security question</label>
                            <input type="text" id="autovalue" name="autovalue">
                            <i class="fa fa-refresh auto-refresh" title="Reload security question"></i>
                        </div>
                        <input type="hidden" name="submit">
                        <div class="clearfix"></div>
                        <input type="submit" value="I am attending &rarr;">
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </section> -->
    <!-- #Contact Section -->

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="column four copyright">Theme by <a href="http://www.logicathemes.com">logicathemes.com</a></div>
                <div class="column four logo">N<span>&</span>N</div>
                <div class="column four info">Developed by the groom with the bride's supervision</div>
            </div>
        </div>
    </footer>
    <!-- / Footer Section Ends -->
</section>
