.wedding-info-container {
  text-align: center;

  .title {
    padding: 20px;
  }

  .info {
    padding-bottom: 40px;
    font-size: 28px;

    .heading {
      font: 26px/46px 'Playfair Display', serif;
    }
  }
}
